.recource {
    padding: 2.5rem 5rem;
    background: linear-gradient(to bottom, var(--color-dark--1), var(--color-light--1));
    min-height: 100vh;
}

.recource section {
    width: 80%;
    margin: 5rem auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;  */
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.resourcesSection {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-around;

}

.resourceItem {
    background-color: var(--color-light--2);
    border-radius: 8px;
    padding: 3rem 5rem;
    width: calc(33% - 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
}

.resourceItem:hover {
    transform: translateY(-5px);
}

h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: 600;
}

h3 {
    color: var(--color-dark--1);
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
}

p {
    font-size: 1.6rem;
    text-align: initial;
    color: var(--color-dark--2);
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 500;
    line-height: 1.8;
}

.icon {
    font-size: 3rem;
    color: var(--color-dark--1);
    font-size: 4rem;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 2rem;
    }


    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .icon {
        font-size: 3rem;
    }

    .recource {
        padding: 1.5rem;
    }

    .recource section {
        width: 100%;
    }

    .resourceItem {
        width: 45%;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }


    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .icon {
        font-size: 3rem;
    }

    .recource {
        padding: 1.5rem;
    }

    .recource section {
        width: 100%;
    }

    .resourceItem {
        width: 100%;
    }
}

@media (max-width: 480px) {

    h2 {
        font-size: 2rem;
    }


    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .icon {
        font-size: 3rem;
    }

    .recource {
        padding: 1.5rem;
    }

    .recource section {
        width: 100%;
    }

    .resourceItem {
        width: 100%;
    }
}