.city {
  padding: 2rem 3rem;
  max-height: 70%;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  overflow: auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
  /* width: 300px; */
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.city h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}

/* Small devices (phones, 576px and up) */
@media (max-width: 576px) {
  .city h6 {
    font-size: 1rem;
    /* Adjust as needed */
  }

  .city h3 {
    font-size: 1.4rem;
    /* Adjust as needed */
  }

  .city h3 span {
    font-size: 2rem;
    /* Adjust as needed */
  }

  .city p,
  .city a {
    font-size: 1.2rem;
    /* Adjust as needed */
  }
}