.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.2rem;
}


/* Media Queries */
@media (max-width: 1200px) {
  .form {
    padding: 1.5rem 2rem;
  }

  .flag {
    top: 2.2rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .form {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .flag {
    top: 2rem;
    font-size: 2rem;
  }

  .row label {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 1rem;
    gap: 1rem;
  }

  .flag {
    top: 1.8rem;
    font-size: 1.8rem;
  }

  .row label {
    font-size: 0.9rem;
  }

  .buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}